<%- include('../partials/header'); -%>

<a href="/doctor-register">Register new doctor</a><br>
<a href="/pharma-register">Register new pharmacist</a> <br>
<a href="/remove-doctor">Remove doctor</a><br>
<a href="/remove-pharma">Remove Pharmacist</a><br>
<a href="patient-history-admin">Patient history</a><br>
<a href="/customer-history">view customer history</a><br><br><br>
<a href="/logout-admin">Logout</a>

<%- include("../partials/footer"); -%>