<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <script src="https://kit.fontawesome.com/0b3d27d2e1.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Dispensary Management</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default" style="height:100px; padding-top:25px">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="font-size: 40px;">NIT Jamshedpur</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/aboutus-admin">ABOUT US</a></li>
          <!-- <li id="contact"><a href="/contact">CONTACT US</a></li> -->
        </ul>
    </div>
  </nav>
  <style>
      
    .doc-icon:hover{
        opacity: 0.5;
    }
    .doc-icon{
        display: inline-block;
    }
  </style>
</head>
  <body>
    <div class="container">

        <div class="doc-icon" style="width: 200px; margin-left: 50px; margin-top: 100px;">
        <a href="/doctor-login"><i class="fas fa-user-md" style="color: #1abc9c; font-size: 200px;"></i><p style="text-align: center; color: #1abc9c; font-size: 20px;">Doctor signin</p></a>
        </div>
        
        <div class="doc-icon" style="width: 200px; margin-left: 200px; margin-top: 100px;">
        <a href="/pharma-login"><i class="fas fa-user-nurse" style="color: #1abc9c; font-size: 200px;"></i><p style="text-align: center; color: #1abc9c; font-size: 20px;">Pharmacist signin</p></a>
        </div>

        <div class="doc-icon" style="width: 200px; margin-left: 200px; margin-top: 100px;">
          <a href="/admin-login"><i class="fas fa-briefcase" style="color: #1abc9c; font-size: 200px;"></i><p style="text-align: center; color: #1abc9c; font-size: 20px;">Admin signin</p></a>
        </div>
    </div>



    <div class="footer-padding"></div>
      <div class="footer" style="height: 70px;">
        <p>Made with ❤ by Pratul</p>
      </div>
    </div>
</body>
</html>
    